
  <div class="row">
    <div class="col-sm">{{company}}</div>
    <div class="col-sm">{{description}}</div>
    <div class="col-sm">
      <a href={{webwsite}}>{{website}}</a>
      </div>
  </div>
  <div class="row">
    <div class="col-sm">{{location}}</div>
    <div class="col-sm">Total Raised: {{totalRaised}}</div>
    <div class="col-sm">Date Crawled: {{dateCrawled}}</div>
  </div>
  <div class="row">
    {{#each emails}}
    <div class="col-sm">hey{{this.value}}</div>
    {{/each}}
  </div>



